
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgb(65, 64, 64);
}

.change-view-btn {
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(180, 201, 242);
    box-shadow: 0 0 2px 0 white;
    cursor: pointer;
}

.change-view-btn:hover {
    background-color: rgb(135, 172, 245);
    box-shadow: 0 0 3px 0;
    transition: background-color, 0.5s;
}

.main .main_gallery {
    margin-bottom: 50px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    display: flex; 
    gap: 30px;
}

.main_gallery::-webkit-scrollbar {
    display: none;
}

.grid-view {
    flex-wrap: wrap;
}

.list-view {
    flex-direction: column;
}

.img-div {
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
}

.img-div img {
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.img-div .img-name {
    color: white;
}
